*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-image: url('https://res.cloudinary.com/drbpdytwx/image/upload/v1635989381/esh_gqfxkb.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

    filter: blur(.1px);
}
